body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #80a6ad;
    color: white;
}
.wrapper {
    flex: 1;
}

#bookTable {
    color: #fff;
}

.modal {
    color: black;
}

.footer-fixed {
    flex-shrink: 0;
    background-color: #1b3c4291;
    color: white;
}
